

.faqWrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bgColor1);
}

.heading {
    height: fit-content;
    width: 100%;
    padding: 4rem 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: var(--h1FontSize);
    font-weight: var(--h1FontWeight);
}

.questions {
    width: 100%;
    height: fit-content;
    padding: 0 10%;
}

.appBar {
    background-color: var(--primaryColor);
}

.tab {
    color: white;
    font-size: var(--h3FontSize);
    font-weight: var(--h2FontWeight);
}

@media only screen and (max-width: 600px) {
    .heading {
        padding: 1.5rem 5%;
    }
    .questions {
        padding: 0 5%;
    }
}


