
.contactWrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    height: fit-content;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor1);
}

.heading h2{
    font-size: var(--h2FontSize);
    font-weight: var(--h2FontWeight);
}
.contentWrapper {
    height: fit-content;
    width: 100%;
    padding: 0 10%;
    background-color: var(--bgColor1);
}

.contactInfo {
    height: max-content;
    width: 100%;
    padding: 10px 10px;
}
.items {
    padding: 1rem;
    border: 1px solid #18776D;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #18776D;;
}

.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.items:hover {
    scale: 1.04;
}

.logoWrapper {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(60, 225, 208, 0.3);
    color: #18776D;
}
.data {
    margin-top: 12px;
    font-weight: 600;
}